.todos-wrapper{
    height:100%;
    overflow-y: auto;
}

.todo-item{
    display:flex;
    align-items: center;

    background-color: rgba(black, 0.5);
    //Border radius can be too high here
    border-radius: 25px;

    margin-bottom: 15px;
    padding:10px 12px;

    cursor: pointer;
}

.todo-text{
    color:rgba(white, 0.85);
}

.checkbox{
    padding: 4px;
    border: 2px solid rgba($color: white, $alpha: 0.35);
    border-radius: 50%;
    margin-right: 15px;

    //display:flex solves ignores the line height of the checkmark and makes the circle round
    display:flex;
    i{
        font-size: 18px;
        opacity: 0;
    }
}

.todo-item:hover{
    .todo-text{
        color: rgba(white,0.95);
    }
    .checkbox{
        border-color:transparent;
        background-color: rgba(white, 0.35);
    }
}

.todo-item.completed{
    .todo-text{
        color: rgba(white, 0.78);
    }
    .checkbox{
        background-color: rgb(9, 218, 89);
        border-color: transparent;
        i{
            opacity:1;
        }
    }
}

.todo-text,.checkbox{
    transition: 0.12s;
}